---
import Layout from "../layouts/Layout.astro";
import { urlFor } from "../utils/image";
import { sanityClient } from "sanity:client";
import { PortableText } from "astro-portabletext";
import { Image } from 'astro:assets';
const page = await sanityClient.getDocument('c38c20ba-f22f-4a2f-8d55-d860b1c43510');

---

<Layout title={page?.title}>
  <section>
  {
      page?.mainImage ? (
        <Image class="post__cover"
          src={urlFor(page.mainImage).url()}
          alt="Cover image"
          height="300"
          width="300"
        />
      ) : (
        <div class="post__cover--none" />
      )
    }
    <PortableText value={page?.body} />
  </section>
</Layout>
